# Scope: For builders only
# Access: Can read and write to an RBE instance
# Usage: Only builders can have access. (cannot have devs' local builds writing to cache)

# TODO(b/269549906): replace experimental RBE instance
instance=projects/reclient-chromium-experiments/instances/default_instance
service=remotebuildexecution.googleapis.com:443
use_application_default_credentials=true
server_address=unix:///tmp/reproxy.sock
# Details on reclient log files: https://g3doc.corp.google.com/devtools/foundry/g3doc/dev/x/reclient.md?cl=head#files
log_dir=/tmp
proxy_log_dir=/tmp
