# Scope: Local developer builds
# Access: Can read and write to RBE instance. Separated from PROD via "cache_silo" config.
# Usage: For local builds

instance=projects/chromeos-bot/instances/cros-rbe-nonrelease
service=remotebuildexecution.googleapis.com:443

# TODO(b/287891253): switch to automated_auth
use_application_default_credentials=true
server_address=unix:///tmp/reproxy.sock

# Support Note: to invalidate remote cache, change the cache_silo UUID
cache_silo=2a0303d3-5eb7-4395-a221-8402dc6e6a93
